<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened class="nav">
    <div class="brand">Audit Platform</div>
    <mat-nav-list>
      @for (link of links; track link.path) {
        <a mat-list-item [routerLink]="link.path" routerLinkActive="active">
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top">
      <span class="spacer"></span>
      <span class="user">{{ username() }} ({{ role() }})</span>
      <button mat-button type="button" (click)="logout()">Logout</button>
    </mat-toolbar>
    <main class="content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
