<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<conversionRule conversionWord="maskMsg"
		converterClass="com.transit.audit.common.logging.SensitiveDataMessageConverter"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} %-5level [%thread] %logger{36} - %maskMsg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="com.transit.audit" level="INFO"/>
</configuration>
